* {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

html {
  height: 500px;
  width: 300px;
}

body {
  align-items: center;
  background: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  overflow-x: hidden;
  text-align: center;
  height: fit-content;
  margin: 0;
  width: 100%;
  width: 300px;
}

#formdiv {
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.formdivel {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: 200;
  margin-top: 60px;
}

h2 {
  margin: 0px;
}

label {
  color: #0c0c0d;
  font-size: 15px;
  font-weight: 400;
  text-emphasis: 700;
}

input {
  border-color: rgba(12, 12, 13, 0.2);
  border-radius: 2px;
  margin-top: 8px;
  outline: none;
  width: 70%;
}

input[type="checkbox"] {
  background: rgba(12, 12, 13, 0.1);
  border: 1px rgba(12, 12, 13, 0.3);
  height: 16px;
  margin: 4px;
  width: 16px;
}

input[type="checkbox"]:checked {
  background: #0060df;
}

#textShadowOptions {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#textDecorationOptions {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#url_div {
  display: none;
}

p {
  width: 3cm;
}

input[type="text"] {
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

input[type="url"] {
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

input:hover {
  border-color: rgba(12, 12, 13, 0.3);
}

input:focus {
  border: #0a84ff solid 2px;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

select {
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  box-shadow: 0 0 15px #f3f3f3;
}

input:invalid {
  border: #d70022 solid 2px;
  box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, 0.3);
}

input[type="url"]:focus:valid {
  border: #0c2 solid 2px;
  box-shadow: 0 0 0 1px #0c2, 0 0 0 4px rgba(0, 204, 34, 0.3);
}

input[type="url"]:placeholder-shown {
  border-color: rgba(12, 12, 13, 0.2) !important;
  box-shadow: none !important;
}
input[type="url"]:placeholder-shown:hover {
  border-color: rgba(12, 12, 13, 0.3) !important;
}
input[type="url"]:placeholder-shown:focus {
  border-color: #0a84ff !important;
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3) !important;
}


#textSadowOptions {
  display: none;
}

#remove_custom {
  display: none;
  cursor: pointer;
  margin-top: 5px;
  background-color: #ffb3b3;
  box-shadow: 0 0 15px #ffb3b3;
  padding: 5px;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
#remove_custom:hover {
  background-color: #ff8080;
  box-shadow: 0 0 15px #ff8080;
}
#add_custom {
  cursor: pointer;
  margin-top: 5px;
  background-color: #b3ffb3;
  box-shadow: 0 0 15px #b3ffb3;
  padding: 5px;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
#add_custom:hover {
  background-color: #80ff80;
  box-shadow: 0 0 15px #80ff80;
}

.colorinputcouple {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#save_btn {
  background: #0060df;
  border-radius: 2px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

#save_btn:hover {
  background: #003eaa;
}

#save_btn:active {
  background: #002275;
}

#save_btn:focus {
  box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
}

#promotionaldiv {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: #bfbfbf;
  border-radius: 5px;
  box-shadow: 0 0 15px #6e6e6e;
  width: 20vw;
}

#promotionaldiv p {
  width: 100%;
  height: 100%;
}

#formdivprv {
  position: fixed;
  padding-top: 5px;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  box-shadow: 0 0 15px rgb(200, 200, 200);
}

#formdivtxtdec {
  margin-bottom: 3cm;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #a8a8a8;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #a8a8a865;
}

h1, h2, label, p, #preview {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}